body {
  background-color: $primaryColor;
}
//CONTAINER
.container {
  width: 100%;
  display: flex;
  position: relative;
}

// BLOG POST SECTION
.blog-post-section {
  width: 65%;

  .blog-post-section img {
    // box-shadow: -100px 400px $accentColor;
    margin-bottom: 600px;
  }

  .blog-img {
    position: absolute;
    top: -350px;
    right: 0;
  }

  .blog-post-content {
    padding-top: 450px;
    border-left: 6px solid $accentColor;
    border-bottom: 6px solid $accentColor;
  }

  .blog-post-content h3 {
    padding-top: 40px;
  }

  .blog-post-content p:nth-of-type(2) {
    padding: 40px;
  }

  .blog-post-content p:first-of-type {
    padding-left: 40px;
  }

  .blog-post-content h3 {
    padding-left: 40px;
  }
}

// SIDE POST SECTION

.side-blog-section {
  width: 30%;
  margin-top: 100px;
  max-width: 400px;
  width: 100%;
  background-color: $primaryColor;

  .side-blog-image {
    position: relative;
  }

  .side-blog-image img {
    position: absolute;
    top: -10%;
    right: 3%;
    width: 100%;
    box-shadow: 10px 0 $secondaryColor;
  }

  .side-blog-content {
    padding: 370px 0 60px 20px;
    background-color: $secondaryColor;
    margin-left: 40px;
  }
}

.comments-container {
  padding: 150px 0;
  width: 100%;

  .comments-title {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
  }

  .profile-picture {
    width: 15%;
  }
  .comment-content {
    width: 80%;
  }
}

.form-box {
  max-width: 700px;
  width: 100%;
  background-color: $primaryColor;
  input[type='text'],
  input[type='email'] {
    max-width: 40vw;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $accentColor;
    color: white;
  }
  .form-container {
    display: flex;
  }
  .name-form {
    margin-right: 20px;
    // width: 600px;
  }

  .email-form {
    margin-left: 20px;
  }
}
