//Sea Section
.sea-section {
  background-color: $primaryColor;
  height: 100vh;
  text-align: center;
  @include mobiletMQ {
    height: 50vh;
    padding: 0;
  }

  .sea-container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding-top: 40vh;
    @include tabletMQ {
      margin-top: 300px;
    }
    @include mobiletMQ {
      max-width: 550px;
      padding-top: 0;
      margin-top: 0;
      padding: 100px 20px;
    }
  }
  .sea-container p {
    text-align: left;
  }
}

// About Section
.about-section {
  background-color: $secondaryColor;
  padding: 10rem 0 4rem 0;
  @include tabletMQ {
    padding-bottom: 3rem;
  }

  .about-section button {
    background: $primaryColor;
    color: $baseFontColor;
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    @include tabletMQ {
      display: block;
    }
  }
  .left-side {
    @include tabletMQ {
      display: flex;
      flex-wrap: wrap-reverse;
    }
  }
  .about-left-image img {
    box-shadow: 30px 30px $accentColor;
    position: relative;
    @include tabletMQ {
      box-shadow: none;
      position: static;
      margin-left: auto;
      margin-right: 0;
      border: 4px solid $accentColor;
    }
    @include mobiletMQ {
      width: 80%;
      margin: 0 auto;
    }
  }
  .about-left-image img {
    top: -30%;
    @include tabletMQ {
      top: 0;
    }
  }

  .about-right-image img {
    box-shadow: -30px 30px $accentColor;
    position: relative;
    @include tabletMQ {
      box-shadow: none;
      display: block;
      margin-right: auto;
      border: 4px solid $accentColor;
    }
    @include mobiletMQ {
      width: 80%;
      margin: 0 auto;
    }
  }

  .about-left-content,
  .about-right-content {
    max-width: 600px;
    width: 100%;
    @include tabletMQ {
      max-width: 100%;
      margin: 0 50px;
    }
    @include mobiletMQ {
      max-width: 450px;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .about-left-content {
    text-align: right;
    @include mobiletMQ {
      padding-top: 25px;
    }
  }

  .about-right-content {
    text-align: left;
    @include mobiletMQ {
      padding-top: 25px;
    }
  }
}

//Contact Section

.contact-container {
  background-color: $primaryColor;
  color: $baseFontColor;
  padding: 15rem 0;
  .contact-info {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-icons {
    display: flex;
  }
  .contact-icons i {
    background: #86e0f9;
    color: #0c1423;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 49px;
    vertical-align: middle;
    font-size: 1.8rem;
  }

  .contact-content {
    max-width: 400px;
    padding: 0 0 2rem 2rem;
    margin: 0 auto;
    @include tabletMQ {
      max-width: 800px;
    }
  }
}

// Whale section

.whales img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

// This Month Container

.this-month {
  background-color: $primaryColor;
  height: 60vh;
  padding-top: 5rem;
  @include mobiletMQ {
    height: 50vh;
  }

  .month-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .month-image img {
    box-shadow: 30px 30px $accentColor;
    width: 100%;
    @include tabletMQ {
      display: none;
    }
  }
  .month-content {
    max-width: 800px;
  }
}

.home-images {
  background-color: $secondaryColor;
  height: 60vh;
  padding: 5rem 0;
  @include mobiletMQ {
    height: 40vh;
    padding: 4rem 0;
  }

  .fish-section {
    display: flex;
    justify-content: space-between;
  }

  .fish-section img {
    max-width: 800px;
    width: 400px;
    @include mobiletMQ {
      max-width: 90%;
    }
  }
}
.last-fish {
  @include tabletMQ {
    display: none;
  }
}

footer {
  margin-top: 200px;
  background: $accentColor;
  color: #0c1423;
  text-align: center;
  padding: 1rem;
}
