nav {
  width: 100%;
  @include mobiletMQ {
    visibility: hidden;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  li {
    padding: 1rem;
  }

  a {
    color: white;
  }

  .hamburger-menu  {
  position: relative;
  display: none;
  color: white;
  font-size: 3rem;
  padding-right: 10px;
  @include mobiletMQ {
    visibility: visible;
      display: inline;

}


.dropdown-menu li {
  float: left;
  list-style-type: none;
  position: relative;
  padding: 12px;
} 


.sub-menu {
  position: absolute;
  height: 0;
  overflow: hidden;
  padding: 0;
}

  .sub-menu li {
  // font-size: 2rem;
  float: none;
  background-color: #0c1423;
  display: flex;
}

.dropdown-menu li:hover .sub-menu,
.dropdown-menu li:focus-within .sub-menu {
  height: auto;
  overflow: auto;
  top: 40px;
  right: 0px;
  flex-direction: column;
  background-color: #0c1423;
  border-left: 3px solid #86e0f9;
  border-bottom: 3px solid #86e0f9;
  z-index: 2;
}
}

}