nav {
  width: 100%;
  @include mobiletMQ {
    visibility: hidden;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  li {
    padding: 1rem;
  }

  a {
    color: white;
  }

  .nav-burger-menu i {
    font-size: 50px;
  }
  .nav-burger-menu {
    padding-top: 20px;
    padding-left: 20px;
    visibility: hidden;

    @include mobiletMQ {
      visibility: visible;
    }
  }
}
